<template>
  <div class="overflow-auto">
    <div class="row row-cols-2">
<div class="col text-left">
        <h1>
          ประกาศ
          <b-button variant="success" @click="addNewAnnounce()">เพิ่มการประกาศ</b-button>
        </h1>
      </div>
      <div class="col text-right">
        <b-nav-form class="float-right" style="margin-top:10px;">
          <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button class="my-2 my-sm-0" type="submit" variant="info"
            >ค้นหา</b-button
          >
        </b-nav-form>
      </div>
    </div>
    <b-modal
      id="modal-form-announce"
      ref="modal-form-announce"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="หัวข้อ"
          label-for="topic"
          :invalid-feedback="invalidFeedbackTopic"
          :valid-feedback="validFeedbackTopic"
          :state="stateTopic"
        >
          <b-form-input
            id="topic"
            v-model="form.topic"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เนื้อหาการประกาศ"
          label-for="content"
          :invalid-feedback="invalidFeedbackContent"
          :valid-feedback="validFeedbackContent"
          :state="stateContent"
        >
          <b-form-input
            id="content"
            v-model="form.content"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="announceList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editAnnounce(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button variant="danger" @click="delAnnounce(data.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มการประกาศ',
      form: {
        date: '',
        topic: '',
        content: ''
      },
      announceList: [],
      fields: [
        { key: 'date', label: 'วันที่ลงประกาศ' },
        { key: 'topic', label: 'หัวข้อการประกาศ' },
        { key: 'content', label: 'เนื้อหาการประกาศ' },
        { key: 'operation', label: 'operation' }
      ]
    }
  },
  methods: {
    addNewAnnounce () {
      console.log('Add new announce')
      this.title = 'เพิ่มการประกาศ'
      this.$bvModal.show('modal-form-announce')
    },
    editAnnounce (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขประกาศ'
      this.form = { ...user }
      this.$bvModal.show('modal-form-announce')
    },
    delAnnounce (user) {
      console.log('Delete ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.topic + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/announces/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        topic: '',
        content: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Val_idate
      if (this.stateTopic === false || this.stateContent === false) return
      if (this.form._id !== '') {
        // Do when pass val_idation
        axios
          .put('http://localhost:3000/announces', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/announces', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // H_ide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-announce')
      })
    },
    addUser (user) {
      user._id = this.lastId++
      this.announceList.push(user)
    },
    updateUser (user) {
      const index = this.announceList.findIndex(item => item._id === user._id)
      this.announceList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.announceList.findIndex(item => item._id === user._id)
      this.announceList.splice(index, 1)
    },
    getUsers () {
      axios
        .get('http://localhost:3000/announces')
        .then(res => {
          console.log(res)
          this.announceList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateTopic () {
      return this.form.topic.length >= 5
    },
    invalidFeedbackTopic () {
      if (this.form.topic.length > 5) {
        return ''
      } else if (this.form.topic.length > 0) {
        return 'หัวข้อการประกาศต้องมีขนาดอย่างน้อย 5 ตัวอักษร'
      } else {
        return 'ต้องใส่หัวข้อการประกาศ'
      }
    },
    validFeedbackTopic () {
      return this.stateTopic === true ? 'สำเร็จ' : ''
    },
    stateContent () {
      return this.form.content.length >= 10
    },
    invalidFeedbackContent () {
      if (this.form.content.length > 10) {
        return ''
      } else if (this.form.content.length > 0) {
        return 'เนือหาการประกาศต้องมีขนาดอย่างน้อย 10 ตัวอักษร'
      } else {
        return 'ต้องใส่เนื้อหาการประกาศ'
      }
    },
    validFeedbackContent () {
      return this.stateContent === true ? 'สำเร็จ' : ''
    },
    rows () {
      return this.announceList.length
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUsers()
  }
}
</script>
